.nav,
 .pagination,
 .carousel,
 .panel-title a {
     cursor: pointer;
 }

.trActive {
    text-decoration: line-through;
    font-style: italic;
}

.hideRow {
    display: none;
}

.oddLog {
    background-color: lightyellow;
}

form.newTaskForm input.ng-invalid,
form.newTaskForm textarea.ng-invalid {
    border-color: red;
}

.position-fixed {
    position: fixed;
}

.important {
    color: orangered;
}

/* I don't know how I did this, but the bee actually changes its size! */
sj-bee img {
    height: 10%;
    width: 10%;
}