<h1>Welcome!</h1>
        You are welcome to play in my playground.<br/>
        I'll be happy to hear about suggestions, bugs, and bees.

        <h2> Things you can do in this playground:</h2>
        <ul>
            <li><b>Play with Bee</b></li>
            <li>
                Use right-click to open context menu
                <ul>
                    <li>"Disable Right Click Context" button</li>
                    <li>In list view - clear search (X) button</li>
                </ul>
            </li>
            <li>Disable right-click context</li>
            <li>Play with Todo List:</li>
            <ul>
                <li>Search for items</li>
                <li>Add items</li>
                <ul>
                    <li>Try adding an item with a very short title</li>
                </ul>
                <li>Edit items</li>
                <li>Delete items</li>
                <li>Sort and filter list using table headers</li>
            </ul>
        </ul>